* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
.bg{
    width: 150em;
    height: auto;
}
body{
    background-image: url(./images/bg.jpg);
    background-size: cover;
}